@media(max-width:980px) {
    .carousel {
        &-container {
            max-width: 608px;
        }
        &-item {
            flex: 0 0 50.33%;
        }
    }
}

@media(max-width:768px) {
    .center {
        max-width: 750px;
    }
    .logo {
        max-width: 130px;
        width: 100%;
        height: 26px;
    }
    .logo-link {
        max-width: 130px;
        height: 26px;
      }
    .header {
        padding:16px 0 50px 0;
        &__top {
            margin-bottom: 10px;
        }
        &__main {
            height: 408px;
            padding: 37px 0 41px 42px;
            border-radius: 5px;
        }
        &__main-item {
            font-size: 15px;
            line-height: 165%;
        }
        &__main-list {
            gap: 13px;
            margin-bottom: 20px;
        }
        &__main-item:first-child {
            width: 152px;
            height: 29px;
            padding: 2px;
        }
        &__top-title {
            font-size: 36px;
            max-width: 387px;
            margin-bottom: 13px;
        }
        &__top-txt {
            font-size: 15px;
            margin-bottom: 29px;
            max-width: 300px;
        }
    }
    .btn-reg {
        max-width: 303px;
        font-size: 15px;
        height: 50px;
        justify-content: space-evenly;
        padding: 0;
    }
    .btn-reg-elt {
        width: 37px;
        height: 37px;
        background-size: contain;

    }
    .main {
        &__info {
            padding: 38px 25px;
            border-radius: 15px;
        }
        &__advance-list {
            gap: 10px;
        }
        &__advance-item {
            max-width: 200px;
            border-radius: 15px;
            padding: 19px 0;
        }
        &__advance-img {
            width: 200px;
            height: 124px;
            margin-bottom: 19px;
        }
        &__advance-txt {
            font-size: 14px;
            max-width: 162px;
        }
}
.recomen {
    padding-bottom: 16px;
    &__wrp {
        padding: 40px;
        margin-bottom: 0;
        border-radius: 18px;
    }
    &__title {
        font-size: 26px;
    }
}
.carousel {
    &-container {
        max-width: 602px;
    }
    &-item {
        max-width: 182px;
        border-radius: 12px;
        padding: 25px 0;
    }
    &__txt {
        max-width: 160px;
        font-size: 12px;
        height: 42px;
        margin-bottom: 9px;
    }
    &__img {
        width: 94px;
        height: 133px;
    }
}
.controls {
    margin-top: 30px;
}
.pagination {
    font-size: 10px;
}
.arrow {
    width: 21px;
    height: 21px;
}
.arrow svg {
    width: 21px;
    height: 21px;
}
}
@media(max-width:468px) {
    .center {
        max-width: 468px;
    }
    .logo {
        max-width: 110px;
        width: 100%;
        height: 17px;
    }
    .logo-link {
        max-width: 110px;
        height: 17px;
      }
      .header {
        padding:10px 0 25px 0;
        &__top-tel a {
            font-size: 9px;
        }
        &__main {
            height: 550px;
            background: url(../../img/bg-mob.png);
            @include backgroundCenterCover;
            border-radius: 19px;
            padding: 20px 20px 0 20px;
        }
        &__main-list {
            flex-direction: column;
            gap:10px;
            margin-bottom: 17px;
        }
        &__top-wrp {
            @include flexColumnCenter;
        }
        &__top-title {
            font-size: 24px;
            text-align: center;
            margin-bottom: 15px;
        }
        &__top-txt {
            font-size: 14px;
            text-align: center;
            max-width: 260px;
            margin-bottom: 17px;
        }
    }
    .btn-reg {
        font-size: 13px;
    }
    .main {
        &__info {
            padding: 30px 20px;
        }
        &__advance-list {
            gap: 20px;
        }
        &__advance-item {
            max-width: 260px;
        }
    }
    .recomen {
        &__wrp {
            padding: 20px;
        }
        &__title {
            max-width: 250px;
            text-align: center;
            font-size: 20px;
            margin: 0 auto 14px;
        }
    }
    .carousel {
        &-container {
            max-width: 266px;
        }
        &-item {
            flex: 0 0 100.00%;
            width: 250px;
            max-width: 250px;
        }
        &__txt {
            font-size: 14px;
        }
    }
}
@media(max-width:468px) {
    .center {
        padding: 0 10px;
    }
}