a, button {
    cursor: pointer;
}
@media (hover: hover) {
        .btn-reg:hover {
            transform: scale(1.1);
        }
        .header__top-tel a:hover {
            color: blueviolet;
            font-weight: 500;
        }
    }